/* Antenna lettertype  */
@font-face {
	font-family: Ford-Antenna;
	src: url(../fonts/ford-antenna-regular.woff2);
}
@font-face {
	font-family: Ford-Antenna;
	src: url(../fonts/ford-antenna-cond-bold.woff2);
}
@font-face {
	font-family: Ford-Antenna;
	src: url(../fonts/ford-antenna-cond-medium.woff2);
}

/* Roboto letterype */
@font-face {
	font-family: Roboto;
	src: url(../fonts/roboto-400.woff);
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/roboto-700.woff);
}

/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;

  /* border:solid 1px red; */
}

body {
	margin: 0;
	font-family: Ford-antenna, Roboto, sans-serif;
}

button:not([disabled]) {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-focus-h: #ff0000;
	--p-h2-color: #10304E;
	--bg-tekst: #fff;
	--active-state: #10304E;

}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
	color: var(--color-focus-h);
  margin:0;
  padding:1em;
}

article {
	height: 100vh;
/* De achtergrond zodat Kasperolien rijd */
	background-image: url(../images/weg.gif);
	background-repeat: no-repeat;
	background-size: cover;
}



/* De stukjes tekst */
article section:nth-of-type(1){
/* Ruimte om de weg te zien */
  margin-bottom: 6em;
  width: 100%;
}

article section:nth-of-type(1) ul{
  margin:0;
  padding:0;
  width: 100%;
}

article section:nth-of-type(1) ul li{
  list-style: none;
  width: 75%;
  padding: 1.5em;
  /* voor het in het midden zetten https://www.w3schools.com/css/css_align.asp */
  margin: auto;

  background-color: var(--bg-tekst);
  border-radius: 3em;
}

/* Voor het verstoppen van het stukje tekst zonder dat de ruimte verdwijnt */
article section:nth-of-type(1) ul li{
	opacity: 0;
}

/* Zichtbaar maken van de li zodra je op het stuur klikt */
article section:nth-of-type(1) ul li.zichtbaar {
	opacity: 1;
}

/* voor het verstoppen van de andere li's totdat ik ze nodig heb */
.hidden{
	display: none;
}

/* Dit is de h2 voor de section */
.sr{
	position: absolute;
	left: -999em;
}

article section:nth-of-type(1) ul li h3, p{
  color: var(--p-h2-color);
}



/* Het dashboard van de Ka */
article > img {
	position: absolute;

  width: 100%;	
  /* Anders valt het dashboard achter de achtergrond */
  z-index: 0;
}

/*  https://css-tricks.com/snippets/css/complete-guide-grid/ */
/* Section van het stuur en de pook */
article section:nth-of-type(2) {
	position: relative;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	width: 100%;
	height: 35em;

	z-index: 1;
}

/* Stuur */
article section:nth-of-type(2) img:nth-of-type(1) {
	grid-row: 1/3;
	justify-self: center;

	/* Op zn plek houden van het stuur */
	width: 85%;
	margin: 12% 15% 0 0;
}

/* bewegen van het stuur */
@keyframes stuurtje{
	0%{
		transform:rotate(0);
	}
	50%{
		transform:rotate(35deg);
	}
	100%{
		transform:rotate(0);
	}
}
  
/* feedback voor de gebruiker */
article section:nth-of-type(2) img:nth-of-type(1):hover{
	animation-name: stuurtje;
	animation-duration: 2s;
}



/* De radio */
article section:nth-of-type(2) img:nth-of-type(2){
	width: 30%;
	translate: -5vw 24vw;
}

/* Bewegen van de radio */
@keyframes radiootje{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

/* Feedback voor de gebruiker */
article section:nth-of-type(2) img:nth-of-type(2):hover{
	animation-name: radiootje;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}



/* De versnellingsbak / pook */
article section:nth-of-type(2) img:nth-of-type(3) {
	/* grid-row: 2;
	justify-self: start; */

	width: 20%;
	translate: -5vw 7vw;
}

 /* bewegen van de pook */
 @keyframes pooky{
  0%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(40deg);
  }
 }

 /* feedback voor de gebruiker */
 article section:nth-of-type(2) img:nth-of-type(3):hover {
  animation-name: pooky;
  animation-duration: 2s;
  transform-origin:center bottom;
 }


 
 /* De focus voor de interactieve elementen */
article section:nth-of-type(2) img:focus{
	filter:	drop-shadow(0 0 .30em);
	color: var(--color-focus-h);

	outline: none;
}

/* Active voor de interactieve elementen */
article section:nth-of-type(2) img:active{
	filter:
	drop-shadow(0 0 .30em)	
	drop-shadow(0 0 .30em);
	color: var(--active-state);
}