/* Antenna lettertype  */
@font-face {
  font-family: Ford Antenna;
  src: url(../fonts/ford-antenna-regular.woff2);
}
@font-face {
  font-family: Ford Antenna;
  src: url(../fonts/ford-antenna-cond-bold.woff2);
}
@font-face {
  font-family: Ford Antenna;
  src: url(../fonts/ford-antenna-cond-medium.woff2);
}

/* Roboto letterype */
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-400.woff);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-700.woff);
}

/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  font-family: Ford antenna, Roboto, sans-serif;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --dashboard: #293133;
  --bg-m-paneel: lightgrey;

}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

article {
  margin: 1em;
  justify-content: center;


  display: grid;
  grid-template-rows: 26em 10em 25em;
  grid-template-columns: 30em 1fr 1fr;
}

/* Gif van de weg */
article > img:nth-of-type(1){
  width: 100em;
  
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: -1;

}

/* Dashboard Ka*/
article > img:nth-of-type(2){
  width: 100em;

  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: -1;
}

/* Section van het stuur */
article section:nth-of-type(1){
  grid-column-start: 1;
  grid-row-start: 2;
}

/* Stuur */
article section:nth-of-type(1) img:nth-of-type(1){
  width: 28em;
  margin-top: 4em;
}

/* Section van de pook */
article section:nth-of-type(2){
  grid-column-start: 2;
  grid-row-start: 3;

  justify-items: center;

}

/* De versnellingsbak / pook */
article section:nth-of-type(2) img:nth-of-type(1){
  width: 6em;

  place-self: center;
}




/* Middenpaneel Ka */
/* article > img:nth-of-type(2){
  width: 45em;

  position: absolute;
  top: 4.83em;
  left: 3.3em;
} */